<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- PAGE TITLE -->
    <title>Russell Express LLC</title>

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <!-- ALL GOOGLE FONTS -->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Montserrat:300,400,500,600,700,800,900|Dancing+Script:400,700&subset=latin-ext"
        rel="stylesheet">
    <!-- FONT AWESOME CSS -->
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <!-- OWL CAROSEL CSS -->
    <link rel="stylesheet" href="assets/owlcarousel/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.css">
    <!-- MAGNIFIC CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/effects.css">
    <link rel="stylesheet" href="assets/css/YTPlayer.css">
    <!-- MAIN STYLE CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- RESPONSIVE CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- START PRELOADER -->
    <div class="preloader">
        <div class="status">
            <div class="status-mes"></div>
        </div>
    </div>
    <!-- / END PRELOADER -->
    
    {{{body}}}
   
    <!-- START FOOTER DESIGN AREA -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="social-links">
                        <ul>
                            <li><a href="https://www.facebook.com/russellexpresslogistics"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#contact"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCCnz4dhjJRu9_rprutWDzng"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <p><a href="/">Russell Express LLC</a></p>
                    <p>&copy;Copyright {{getYear}}</p>
                    <p>All Right Reserved.</p>
                    <p><a href="/privacy">Privacy</a></p>
                    <p><a href="/terms">Terms and Conditions</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- / END FOOTER DESIGN AREA -->

    <!-- LATEST JQUERY -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- BOOTSTRAP JS -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- OWL CAROUSEL JS  -->
    <script src="assets/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- MIXITUP JS -->
    <script src="assets/js/jquery.mixitup.js"></script>
    <!-- PARALLAX JS -->
    <script src="assets/js/jquery.stellar.min.js"></script>
    <script src="assets/js/particles.min.js"></script>
    <script src="assets/js/app.js"></script>
    <!-- MAGNIFICANT JS -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.mb.YTPlayer.min.js"></script>
    <!-- WOW JS -->
    <script src="assets/js/wow.min.js"></script>
    <!-- SCRIPT JS -->
    <script src="assets/js/scripts.js"></script>

    
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/map.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>

</html>