<section  class="service-area section-padding">
    <div class="container">
         <form class="contact-form" action="/check" method="post">
         <p class="red">{{errorMessage}}</p>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="name">Enter Passcode</label>
                            <input class="form-control" type="password" 
                            name="code" placeholder="Enter code" required>
                        </div>
                       
                        <div class="col-md-12 text-center">
                            <button class="btn" type="submit">Login</button>
                        </div>
                    </div>
                </form>
    </div>
</section>