
<header id="home" class="welcome-area">
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- START LOGO DESIGN AREA -->
                        <div class="logo">
                            <a href="/">
                            <img src="assets/images/logos/logo-transparent.png" style="width: 50%;height:50%">
                            </a>
                        </div>
                        <!-- END LOGO DESIGN AREA -->
                    </div>
                    <div class="col-sm-9">
                        <!-- START MENU DESIGN AREA -->
                        <div class="mainmenu">
                            <div class="navbar navbar-nobg">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a class="smoth-scroll" href="/">Home <div
                                                    class="ripple-wrapper"></div></a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#about">About</a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#apply">Apply online</a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#work">Gallery</a>
                                        </li>
                                         <li><a class="smoth-scroll" href="#contact">Contact us</a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#terms">Terms and Conditions</a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#privacy">Privacy Policy</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END MENU DESIGN AREA -->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="welcome-image-area particle-bg" data-stellar-background-ratio="0.6">
            <div id="particles-js"></div>
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="header-text text-center">
                                    {{!-- <h1 class="typewrite" data-period="2000"
                                        data-type='[ "Welcome to Russell Express LLC.", "We are currently hiring", "new CLD drivers", "Apply Now" ]'>
                                        <span class="wrap"></span>
                                    </h1> --}}
                                    {{!-- <p class="center white-color">
                                        <button class="btn btn-primary request-btn"><a href="/apply">
                                                Apply online</a></button>


                                        <button class="btn btn-primary contact-btn"><a href="#contact">
                                             Contact us</a></button>
                                    </p> --}}
                                    <div class="social-links header-links">
                                        <ul>
                                            <li><a href="https://www.facebook.com/russellexpresslogistics"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#contact"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="https://www.youtube.com/channel/UCCnz4dhjJRu9_rprutWDzng"><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="home-arrow-down">
                                        <a href="#apply" class="smoth-scroll btn"><i
                                                class="fa fa-angle-double-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
     <section id="about" class="about-me-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>About us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- START ABOUT IMAGE AREA -->
                    {{!-- <div class="about-image">
                        <img src="assets/images/4343.jpg" alt="">
                    </div> --}}
                    <!-- / END ABOUT IMAGE AREA -->
                    <iframe width="99%" height="300px" src="https://www.youtube.com/embed/brzRbBOnrP4" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-6">
                    <!-- START ABOUT TEXT AREA -->
                    <div class="about-text">
                        <h2 class="wow fadeInUp" data-wow-delay="0.4s">Russell Express LLC</h2>
                        <p>
                           Russell Express LLC  is a logistics company located in Cincinnati, OH that specialize in transportation, supply chain and warehouse services. Through our extensive network of carriers and multiple facilities around the US, 
                             we solve problems for our clients ranging from small businesses to major corporations.
                        </p>
                        <p class="wow fadeInUp" data-wow-delay="0.6s">RE has great dedicated, regional, owner operator, 
                            team and OTR opportunities where you can get home weekly or bi-weekly, 
                            depending on what city and state you live in (call a recruiter for details)!
                             Drivers average $1,500 per week and 68 CPM.. </p>
                        <ul class="wow fadeInUp" data-wow-delay="0.8s">
                            <li>Guaranteed weekly paycheck</li>
                            <li>24/7 Dispatch</li>
                        </ul>
                    </div>
                    <!-- / END ABOUT TEXT AREA -->
                </div>
            </div>
        </div>
    </section>
  
<section id="apply" class="contact-me-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 id="applyOnlineHeader">Apply Now!</h2>
                    <h2 id="Successful" style="display: none;">Success!</h2>
                    <h3 id="errorMSG" style="color:red"></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="green" id="service-msg" style="display: none;">
                    Application has been submitted successfully!
                    Your application is being reviewed by our team,
                    and we will get back to you as soon as we can. 
                    Thank you
                </p>
                <form id="serviceForm" class="contact-form" action="#" method="post">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="client-age">Name</label>
                            <input id="client-name" class="form-control" type="text" name="client-name"
                                placeholder="First and Last Name" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="client-age">Email</label>
                            <input id="client-email" class="form-control" type="email" name="client-email"
                                placeholder="Email" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="client-age">Phone Number</label>
                            <input id="client-number" class="form-control" maxlength="10"
                            type="text" name="client-number"
                                placeholder="Phone number" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="client-age">SSN or EIN</label>
                            <input id="client-ssn" class="form-control" maxlength="9"
                            type="password" name="client-ssn"
                                placeholder="Social Security Number" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="client-age">Address</label>
                            <input id="client-address" class="form-control" type="text" name="client-address"
                                placeholder="City and State" required>
                        </div>
                       <div class="col-md-12 form-group">
                            <label for="date">Date Of Birth</label>
                            <input type="text" id="datepicker" class="form-control" 
                            placeholder="Enter birth date">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="client-driving-experience">How many years of driving experience?</label>
                            <select id="client-driving-experience" class="form-control">
                                <option value="less than 1" selected>Less than year</option>
                                <option value="1 year">1 year</option>
                                <option value="2 years">2 years</option>
                                <option value="3 years">3 years</option>
                                <option value="5 years">5 years</option>
                                <option value="more than 5 years">More than 5 years</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                               <label for="upload-input">Upload CDL license</label>
                        <input class="btn form-control" type="file" name="image" id="upload-input" required>
                        <progress id="uploadProgressBar" value="0" max="100" style="width:100%;"></progress>
                        <h3 id="status"></h3>
                        <p id="loaded_n_total"></p>
                    </div>
                        <div class="col-md-6 form-group">
                            <label for="typeoflicense">Type of License</label>
                            <select id="typeoflicense" class="form-control">
                                <option value="class A" selected>Class A</option>
                                <option value="class B">Class B</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="client-license-number">License number</label>
                            <input id="client-license-number" class="form-control" type="text" 
                            name="client-license-number" maxlength="9"
                            placeholder="CDL license number" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="legalDocument">Legal Document</label>
                            <select id="legalDocument" class="form-control">
                                <option value="green card" selected>Green Card</option>
                                <option value="work authorization">Work authorization</option>
                                <option value="US citizen">US Citizen</option>
                            </select>
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn" id="apply-btn" type="button">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <p>
            <a href="/">Home Page</a> | <a href="/#about">About</a> | <a href="/#terms">Terms and Conditions</a>
        </p>
    </div>
</section>
<script type="text/javascript"
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCazsdPAkeA3D7dMpMwENAx9hIyXa2dxIE&libraries=places&callback=fetchLocation"></script>
 <script>
        // fetch location using javascript
 function fetchLocation(){
     var location = document.getElementById('client-address');
     var Autocomplete = new google.maps.places.Autocomplete(location);
 }
 
</script>
      <!-- START WORK DESIGN AREA -->
    <section id="work" class="work section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Gallery</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="work">
                    <li class="filter" data-filter="all">all</li>
                    <li class="filter" data-filter=".webdesign">Trucks</li>
                    <li class="filter" data-filter=".development">Trailers</li>
                    <li class="filter" data-filter=".photography">Amazon</li>
                </ul>
            </div>
            <div class="work-inner">
                <div class="row work-posts grid">
                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 mix webdesign">
                        <div class="item">
                            <a href="assets/images/45.jpg" class="work-popup">
                                <figure class="effect-ruby">
                                    <img src="assets/images/45.jpg" alt="image" 
                                    class="image-fluid">
                                    <figcaption>
                                        <h2>Trucks</h2>
                                        <p>Trailers</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->
                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 mix development">
                        <div class="item">
                            <a href="assets/images/88.jpg" class="work-popup">
                                <figure class="effect-ruby">
                                    <img src="assets/images/88.jpg" alt="image" class="image-fluid">
                                    <figcaption>
                                        <h2>Amazon</h2>
                                        <p>Partner</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->
                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 mix photography webdesign">
                        <div class="item">
                            <a href="assets/images/2.jpg" class="work-popup">
                                <figure class="effect-ruby">
                                    <img src="assets/images/2.jpg" alt="image" class="image-fluid">
                                    <figcaption>
                                        <h2>Shipping</h2>
                                        <p>Stations</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mix photography webdesign">
                        <div class="item">
                            <a href="assets/images/3.jpg" class="work-popup">
                                <figure class="effect-ruby">
                                    <img src="assets/images/3.jpg" alt="image" class="image-fluid">
                                    <figcaption>
                                        <h2>Warehouse</h2>
                                        <p>Station</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->
                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 mix development">
                        <div class="item">
                            <a href="assets/images/prime.jpg" class="work-popup">
                                <figure class="effect-ruby">
                                    <img src="assets/images/prime.jpg" alt="image" class="image-fluid">
                                    <figcaption>
                                        <h2>Partners</h2>
                                        <p>Service</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->
                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 mix development">
                        <div class="item">
                            <a href="assets/images/77.jpg" class="work-popup">
                                <figure class="effect-ruby">
                                    <img src="assets/images/77.jpg" alt="image" class="image-fluid">
                                    <figcaption>
                                        <h2>Other</h2>
                                        <p>Services</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->
                    <!-- START SINGLE WORK DESIGN AREA -->
                    {{!-- <div class="col-md-4 col-sm-6 mix photography">
                        <div class="item">
                            <a href="assets/images/4343.jpg" class="work-popup">
                                <figure class="effect-ruby">
                                    <img src="assets/images/4343.jpg" alt="image" class="image-fluid">
                                    <figcaption>
                                        <h2>Office</h2>
                                        <p>Office</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div> --}}
                    <!-- END SINGLE WORK DESIGN AREA -->
                </div>
            </div>
        </div>
    </section>
    <!-- / END START WORK DESIGN AREA -->
    <section id="contact" class="contact-me-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>contact us!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <p class="green" id="success-msg" style="display: none;">
                    Thank you for contacting us!
                    One of our team members will be in touch with you shortly!
                </p>
                <p class="red" id="error-msg">
                    
                </p>
                <form id="contactForm" class="contact-form" action="#" method="post">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input id="name" class="form-control" type="text" name="name" placeholder="Name" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input id="email" class="form-control" type="email" name="email" placeholder="Email"
                                required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input id="subject" class="form-control" type="text" name="subject" placeholder="Subject"
                                required>
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea id="message" class="form-control" placeholder="Message" rows="4"
                                required></textarea>
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn" id="contact-btn" type="button">Send</button>
                        </div>
                        <div class="col-md-12 text-center">
                            <p class="input-success">We have received your mail, We will get back to you soon!</p>
                            <p class="input-error">Sorry, Message could not send! Please try again.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="terms" class="section-padding">
      <div class="container">
          <h2>Terms and Conditions</h2>
            <p>
            By submitting your documents, you are giving Russell Express LLC your express consent 
            to be contacted via the phone number you provided, 
            including by automated voice call or SMS text, 
            for any employment or contracting opportunities that arise, and you agree with RE to run a background check for employment purposes 
            using your credentials.
             You also acknowledge RE's Privacy Policy and agree to 
             its SMS and Telephone Terms and Conditions.
            </p>
      </div>
</section>
<section id="privacy" class="section-padding">
      <div class="container">
          <h2>Privacy Policy</h2>
            <small>
            This policy describes the types of information we may collect from you or that you may provide 
            when you visit our website https://russellex.com and our practices for collecting, using, maintaining, 
            protecting, and disclosing that information.

        This policy applies to information we collect:

        On this Website.
        In email, text, and other electronic messages between you and this Website.
        It does not apply to information collected by:

        Us offline or through any other means, including on any other website operated by any third party; or
        Any third party, including through any application or content (including advertising) that may link to or be accessible 
        from or on the Website.
        Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it.
         If you do not agree with our policies and practices, your choice is not to use our Website. 
         By accessing or using this Website, you agree to this privacy policy. This policy may change from time to time 
         (see Changes to Our Privacy Policy). Your continued use of this Website after we make changes is deemed to be acceptance of 
         those changes, so please check the policy periodically for updates.

            </small>
            <small>
                Information We Collect About You and How We Collect It
    We collect several types of information from and about users of our Website, including information:

    By which you may be personally identified, such as name, postal address, e-mail address, telephone number, social security number, 
    or any other identifier by which you may be contacted online or offline ("personal information");
    That is about you but individually does not identify you; and/or
    About your internet connection, the equipment you use to access our Website, and usage details.
    We collect this information:

    Directly from you when you provide it to us.
    Automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, 
    and information collected through cookies, web beacons, and other tracking technologies.
    Information You Provide to Us.
    The information we collect on or through our Website may include:

    Information that you provide by filling in forms on our Website. This includes information provided at the time of 
    requesting further services. We may also ask you for information when you report a problem with our Website.
    Records and copies of your correspondence (including email addresses), if you contact us.
    Your search queries on the Website.

    Information We Collect Through Automatic Data Collection Technologies.
As you navigate through and interact with our Website, we may use automatic data collection technologies to collect certain information 
about your equipment, browsing actions, and patterns, including:

Details of your visits to our Website, including traffic data, location data, logs, and other communication data and the resources that
 you access and use on the Website.
Information about your computer and internet connection, including your IP address, operating system, and browser type.
The information we collect automatically may include personal information, or we may maintain it or associate it with
 personal information we collect in other ways or receive from third parties. 
 It helps us to improve our Website and to deliver a better and more personalized service, 
 including by enabling us to estimate our audience size and usage patterns.

The technologies we use for this automatic data collection may include:

Cookies (or browser cookies). A cookie is a small file placed on the hard drive of your computer.
 You may refuse to accept browser cookies by activating the appropriate setting on your browser.
  However, if you select this setting you may be unable to access certain parts of our Website. 
  Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies 
  when you direct your browser to our Website.

            </small>
    <small>
        Contact Information
To ask questions or comment about this privacy policy and our privacy practices, contact us at:

Russell Express Logistics, Inc.
300 E Business Way,
Cincinnati, OH 45241

or via our toll-free number:

1-646-301-3974
    </small>
      </div>
</section>
<section id="location" class="contact-me-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Location!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p><a href="tel:5139992929"><i class="fa fa-phone"> (513) 999-2929</i></a></p>
                <p><a href="mailto:operation@russellex.com"><i class="fa fa-envelope"> operation@russellex.com</i></a></p>
                <p><i class="fa fa-map-marker"> 300 E Business Way, Cincinnati, OH 45241</i></p>
            </div>
        </div>
    </div>
</section>
<!-- ========== Google Map ===================== -->
<section id="map"></section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwuGmKs4TMqDU9Wt9EVO5omYtosIakVrQ&callback=initMap" async defer></script>