
<header id="home" class="welcome-area">
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- START LOGO DESIGN AREA -->
                        <div class="logo">
                            <a href="/">Russell Express LLC</a>
                        </div>
                        <!-- END LOGO DESIGN AREA -->
                    </div>
                    <div class="col-sm-9">
                        <!-- START MENU DESIGN AREA -->
                        <div class="mainmenu">
                            <div class="navbar navbar-nobg">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a class="smoth-scroll" href="/">Home <div
                                                    class="ripple-wrapper"></div></a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#about">About</a>
                                        </li>
                                        <li><a class="smoth-scroll" href="/apply">Apply online</a>
                                        </li>
                                         <li><a class="smoth-scroll" href="#contact">Contact us</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END MENU DESIGN AREA -->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="welcome-image-area particle-bg" data-stellar-background-ratio="0.6">
            <div id="particles-js"></div>
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="header-text text-center">
                                    <h1 class="typewrite" data-period="2000"
                                        data-type='[ "Welcome to Russell Express LLC.", "We are located in Brooklyn, NY.", "Welcome to Russell Express LLC..", "We are located in New Yrok" ]'>
                                        <span class="wrap"></span>
                                    </h1>
                                    <h2 class="center white-color">
                                        <button class="btn btn-primary request-btn"><a href="/apply">
                                                <i class="fa fa-calendar"> Apply online</i></a></button>
                                    </h2>
                                    <h2 class="center white-color">
                                        <button class="btn btn-primary contact-btn"><a href="#contact">
                                            <i class="fa fa-envelope"> Contact us</i></a></button>
                                    </h2>
                                    <div class="social-links header-links">
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="home-arrow-down">
                                        <a href="/apply" class="smoth-scroll btn"><i
                                                class="fa fa-angle-double-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
     <section id="about" class="about-me-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>About us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- START ABOUT IMAGE AREA -->
                    <div class="about-image">
                        <img src="assets/images/about.jpg" alt="">
                    </div>
                    <!-- / END ABOUT IMAGE AREA -->
                </div>
                <div class="col-md-6">
                    <!-- START ABOUT TEXT AREA -->
                    <div class="about-text">
                        <h2 class="wow fadeInUp" data-wow-delay="0.4s">Russell Express LLC</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.6s">RE has great dedicated, regional, owner operator, 
                            team and OTR opportunities where you can get home weekly or bi-weekly, 
                            depending on what city and state you live in (call a recruiter for details)!
                             Drivers average $1,500 per week and 68 CPM.. </p>

                             <p class="wow fadeInUp" data-wow-delay="0.6s">RE has great dedicated, regional, owner operator, 
                                team and OTR opportunities where you can get home weekly or bi-weekly, 
                                depending on what city and state you live in (call a recruiter for details)!
                                 Drivers average $1,500 per week and 68 CPM.. </p>

                                 <p class="wow fadeInUp" data-wow-delay="0.6s">RE has great dedicated, regional, owner operator, 
                                    team and OTR opportunities where you can get home weekly or bi-weekly, 
                                    depending on what city and state you live in (call a recruiter for details)!
                                     Drivers average $1,500 per week and 68 CPM.. </p>

                        <ul class="wow fadeInUp" data-wow-delay="0.8s">
                            <li>Guaranteed weekly paycheck</li>
                            <li>24/7 Dispatch</li>
                        </ul>
                    </div>
                    <!-- / END ABOUT TEXT AREA -->
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="contact-me-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>contact us!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="green" id="success-msg" style="display: none;">
                    Thank you for contacting us!
                    One of our team members will be in touch with you shortly!
                </p>
                <form id="contactForm" class="contact-form" action="#" method="post">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input id="name" class="form-control" type="text" name="name" placeholder="Name" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input id="email" class="form-control" type="email" name="email" placeholder="Email"
                                required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input id="subject" class="form-control" type="text" name="subject" placeholder="Subject"
                                required>
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea id="message" class="form-control" placeholder="Message" rows="4"
                                required></textarea>
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn" id="contact-btn" type="button">Send</button>
                        </div>
                        <div class="col-md-12 text-center">
                            <p class="input-success">We have received your mail, We will get back to you soon!</p>
                            <p class="input-error">Sorry, Message could not send! Please try again.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>