<section class="contact-me-area section-padding">
    <div class="container">
    <a href="assets/pdf/f8822.pdf">
    <button class="btn btn-success">PDF Document to print</button>
    </a>
</div>
</section>