<section id="terms" class="section-padding">
      <div class="container">
          <h2>Terms and Conditions</h2>
            <p>
            By submitting your documents, you are giving Russell Express LLC your express consent 
            to be contacted via the phone number you provided, 
            including by automated voice call or SMS text, 
            for any employment or contracting opportunities that arise, and you agree with RE to run a background check for employment purposes 
            using your credentials.
             You also acknowledge RE's Privacy Policy and agree to 
             its SMS and Telephone Terms and Conditions.
            </p>
      </div>
</section>